
.img-about{
    width:500px;
    height:300px;
    border: 10px coral;
   display: flex;
   justify-content: right;
   align-items: right;
   top: 10px;
   transition: all ease 1s;
   
}
.img-about:hover{
    transform: scale(0.8);
}
